In [ ]:
%pip install geopandas
%pip install pandas

In [1]:
import geopandas as gpd
import pandas as pd
import fiona

In [2]:
path_gpkg= "../GEOPKG/Thematic_Data.gpkg"
gdf = gpd.read_file(path_gpkg, layer='well_agg_centroid_OZ_')
gdf.head()

,XCOORD,YCOORD,Q_P50_min,Q_P50_max,Q_P50_range,Q_P50_sum,Q_P50_mean,Q_P50_median,Q_P50_stddev,TOP_fltr_min,...,Q_AVERAGE_range,Q_AVERAGE_sum,Q_AVERAGE_mean,Q_AVERAGE_median,Q_AVERAGE_stddev,Q_TIMESERIES_min,Q_TIMESERIES_max,Name,Num_Wells,geometry
0,220007.69,478894.83,-711.599169,-199.187450,512.411719,-11474.067442,-424.965461,-474.399446,122.370522,-44.00,...,526.046008,-11746.162809,-435.043067,-486.687939,125.347757,EB1978-02,ESB2019PP46,Espelosebroek,27,POINT (220007.691 478894.826)
1,220672.50,477948.45,-286.124766,-286.124766,0.000000,-286.124766,-286.124766,-286.124766,0.000000,-34.26,...,0.000000,-286.071501,-286.071501,-286.071501,0.000000,EB2008-25,EB2008-25,Espelosebroek,1,POINT (220672.500 477948.450)
2,226615.81,486326.47,-694.137041,-286.909977,407.227064,-16081.966399,-554.550565,-549.598624,127.793218,-51.71,...,425.986755,-16610.232345,-572.766633,-552.340868,134.594593,NY1959-06,NYV2017PP37,Nijverdal,29,POINT (226615.807 486326.472)
3,225301.25,499157.13,-615.069004,-292.605643,322.463361,-7852.580000,-461.916471,-477.723498,108.031679,-16.47,...,335.996974,-8182.148525,-481.302854,-497.773294,112.565710,AR1961-06,AR1983-22,Archemerberg,17,POINT (225301.252 499157.129)
4,234742.97,464761.38,-288.358852,-246.740049,41.618804,-2434.700000,-270.522222,-273.494994,12.767161,-5.95,...,47.026353,-2751.041640,-305.671293,-309.030319,14.426004,NOO-P01-01,NOO-P09-09,Noordijk,9,POINT (234742.968 464761.383)

In [39]:
# Example groupby operation
grouped = gpd.GeoDataFrame.groupby(gdf, "Name").agg({
    'XCOORD': 'mean',   # Replace 'attribute1' with the actual column name
    'YCOORD': 'mean',   # Replace 'attribute2' with the actual column name
    'Num_Wells': 'sum',   # Replace 'attribute3' with the actual column name
    'Q_P50_sum' : 'sum',
    'Q_AVERAGE_sum' : 'sum',
    'TOP_fltr_max' : 'max',
    'BOTTOM_fltr_min' : 'min',
    'geometry' : lambda x: x.unary_union.centroid
}).reset_index()

In [42]:
grouped =gpd.GeoDataFrame(
    grouped, geometry=grouped.geometry, crs="EPSG:28992")

grouped

,Name,XCOORD,YCOORD,Num_Wells,Q_P50_sum,Q_AVERAGE_sum,TOP_fltr_max,BOTTOM_fltr_min,geometry
0,Archemerberg,225301.250,499157.130,17,-7852.580000,-8182.148525,1.31,-53.18,POINT (225301.252 499157.129)
1,Espelosebroek,220340.095,478421.640,28,-11760.192208,-12032.234310,-20.58,-62.73,POINT (220340.096 478421.638)
2,Goor,235706.700,472184.570,9,-3752.000000,-3670.600318,-1.06,-16.24,POINT (235706.700 472184.568)
3,Hammerflier,233271.960,499976.615,5,-4330.000000,-4177.560692,-9.85,-52.50,POINT (233271.962 499976.613)
4,Hasselo,250986.830,478539.680,9,-1465.720000,-1394.213848,-1.42,-9.50,POINT (250986.829 478539.680)
5,Herikerberg,233749.990,472759.690,21,-10050.290000,-10012.741580,-3.61,-57.60,POINT (233749.993 472759.694)
6,Hoge Hexel,234838.240,489643.810,11,-6930.000000,-6785.068066,-3.98,-53.50,POINT (234838.245 489643.812)
7,Holten,227793.760,478797.010,21,-6285.911974,-6547.271176,7.80,-53.38,POINT (227793.763 478797.011)
8,Manderveen-Heide,250816.770,496768.825,13,-7749.790000,-7970.420136,2.37,-34.55,POINT (250816.768 496768.824)
9,Nijverdal,226615.810,486326.470,29,-16081.966399,-16610.232345,4.13,-70.82,POINT (226615.807 486326.472)
10,Noordijk,234742.970,464761.380,9,-2434.700000,-2751.041640,-2.91,-13.95,POINT (234742.968 464761.383)
11,Rodenmors,267375.990,490176.100,9,-4048.060000,-4069.795149,1.25,-20.86,POINT (267375.992 490176.101)
12,Weerse/Losser,263294.225,476310.270,3,-3978.000001,-3857.259836,45.31,-105.69,POINT (263294.223 476310.268)
13,Weerselo,256253.060,483873.130,4,-2746.410000,-2653.752592,-4.26,-33.26,POINT (256253.059 483873.132)
14,Wierden,235353.210,485441.990,46,-19741.716808,-20055.482508,-3.16,-39.00,POINT (235353.211 485441.993)

In [43]:
wellInfo = gpd.read_file('../CSV/Vitens_watersupply_Overijssel.csv')
wells = wellInfo.drop(columns="geometry")
wells.head()

,Location,Balansgebied,Permit [Mm3 per jr],Agreement [Mm3 per jr],Extraction 2020 [Mm3 per jr],Extraction 2023 [Mm3 per jr]
0,Archemerberg,Vechtstreek,4,4,3.34,2.89
1,Boerhaar,Salland,3.15,2.1,1.91,1.7
2,Ceintuurbaan,Salland,2.2,2.2,1.62,1.44
3,Diepeveen,Salland,4,3,3.68,2.73
4,Engelse Werk,Zwarteland,14,14,12.62,12.24

In [44]:
merged = gpd.GeoDataFrame.merge(grouped,wells, left_on="Name", right_on="Location")

In [48]:
merged['Q_median_YR'] = (merged.Q_P50_sum*-365/1000000)
merged['Q_AVG_YR']  = (merged.Q_AVERAGE_sum*-365/1000000)
merged = merged.rename(columns={
    'Q_P50_sum' : 'Q_Median_d',
    'Q_AVERAGE_sum': 'Q_AVG_d'
    })
merged.head()

,Name,XCOORD,YCOORD,Num_Wells,Q_Median_d,Q_AVG_d,TOP_fltr_max,BOTTOM_fltr_min,geometry,Location,Balansgebied,Permit [Mm3 per jr],Agreement [Mm3 per jr],Extraction 2020 [Mm3 per jr],Extraction 2023 [Mm3 per jr],Q_median_YR,Q_AVG_YR
0,Archemerberg,225301.250,499157.130,17,-7852.580000,-8182.148525,1.31,-53.18,POINT (225301.252 499157.129),Archemerberg,Vechtstreek,4,4,3.34,2.89,2.866192,2.986484
1,Espelosebroek,220340.095,478421.640,28,-11760.192208,-12032.234310,-20.58,-62.73,POINT (220340.096 478421.638),Espelosebroek,Hof v Twente,4.5,3.5,4.22,3.69,4.292470,4.391766
2,Goor,235706.700,472184.570,9,-3752.000000,-3670.600318,-1.06,-16.24,POINT (235706.700 472184.568),Goor,Hof v Twente,1.5,1.5,1.68,1.55,1.369480,1.339769
3,Hammerflier,233271.960,499976.615,5,-4330.000000,-4177.560692,-9.85,-52.50,POINT (233271.962 499976.613),Hammerflier,Vechtstreek,5,3,1.54,1.57,1.580450,1.524810
4,Hasselo,250986.830,478539.680,9,-1465.720000,-1394.213848,-1.42,-9.50,POINT (250986.829 478539.680),Hasselo,Stedenband,0.69,0.56,0.49,0.52,0.534988,0.508888

In [49]:
merged.to_file(path_gpkg, layer='Well_Capacity', driver="GPKG")

In [51]:
index_min = merged['BOTTOM_fltr_min'].idxmin()
min_row  = merged.loc[index_min]
min_row

Name                                                           Weerse/Losser
XCOORD                                                            263294.225
YCOORD                                                             476310.27
Num_Wells                                                                  3
Q_Median_d                                                      -3978.000001
Q_AVG_d                                                         -3857.259836
TOP_fltr_max                                                           45.31
BOTTOM_fltr_min                                                      -105.69
geometry                        POINT (263294.22250000003 476310.2675000001)
Location                                                       Weerse/Losser
Balansgebied                                                      Stedenband
Permit [Mm3 per jr]                                                      2.4
Agreement [Mm3 per jr]                                                   1.4
Extraction 2020 [Mm3 per jr]                                            1.35
Extraction 2023 [Mm3 per jr]                                            1.46
Q_median_YR                                                          1.45197
Q_AVG_YR                                                              1.4079
Name: 11, dtype: object